<div class="page-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-9">
                <div class="kyc-form-steps card mx-lg-4">
                    <div class="form-step form-step1">
                        <div class="form-step-head card-innr">
                            <div class="step-head">
                                <div class="step-number">01</div>
                                <div class="step-head-text">
                                    <h4>Personal Details</h4>
                                    <p>Your simple personal information required for identification</p>
                                </div>
                            </div>
                        </div>
                        <form id="form-pagar-mp">
                            <input data-checkout="docType" type="" value="CPF" />
                            <!-- .step-head -->
                            <div class="form-step-fields card-innr">
                                <div class="note note-plane note-light-alt note-md pdb-1x"><em class="fas fa-info-circle"></em>
                                    <p>Please type carefully and fill out the form with your personal details. Your can’t edit these details once you submitted the form.</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label">Número do cartão <span class="text-danger">*</span></label>
                                            <input class="input-bordered" type="text" data-checkout="cardNumber" ng-keyup="verificarBandeira()">
                                            <div id="cardThumb"></div>
                                        </div>
                                        <!-- .input-item -->
                                    </div>
                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label">Código de Segurança <span class="text-danger">*</span></label>
                                            <input class="input-bordered" type="text" data-checkout="securityCode" value="732">
                                        </div>
                                        <!-- .input-item -->
                                    </div>
                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label">Mês de vencimento <span class="text-danger">*</span></label>
                                            <input class="input-bordered" type="text" data-checkout="cardExpirationMonth" value="09">
                                        </div>
                                        <!-- .input-item -->
                                    </div>
                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label">Ano de vencimento <span class="text-danger">*</span></label>
                                            <input class="input-bordered" type="text" data-checkout="cardExpirationYear" value="26">
                                        </div>
                                        <!-- .input-item -->
                                    </div>
                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label">Titular do cartão <span class="text-danger">*</span></label>
                                            <input class="input-bordered date-picker" type="text" data-checkout="cardholderName" value="Lucas P Willemen">
                                        </div>
                                        <!-- .input-item -->
                                    </div>
                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label">Documento</label>
                                            <input class="input-bordered" type="text" data-checkout="docNumber" value="12100383744">
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary">Process for Verify</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>