
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="main-content col-lg-8">
                <div class="content-area card">
                    <div class="card-innr">
                        <div class="card-head">
                            <h4 class="card-title">ICO Distribution, Rate &amp; Sales Info</h4></div>
                        <div class="card-text">
                            <p>To become a part of TokenWiz project, you can found all details of ICO.
                                <br class="d-none d-sm-block"> You can contribute and buy WSC tokens.</p>
                        </div>
                        <div class="gaps-3x"></div>
                        <div class="card-head">
                            <h5 class="card-title card-title-md">ICO Schedule</h5></div>
                        <div class="schedule-item">
                            <div class="row">
                                <div class="col-xl-5 col-md-5 col-lg-6">
                                    <div class="pdb-1x">
                                        <h5 class="schedule-title"><span>Pre-Sale ICO</span><span class="badge badge-success ucap badge-xs">Running</span></h5><span>Start at Jan 02, 2019 - 11:00 AM</span><span>End at May 07, 2019 - 11:00 AM</span></div>
                                </div>
                                <div class="col-xl-4 col-md col-lg-6">
                                    <div class="pdb-1x">
                                        <h5 class="schedule-title"><span>{{bonus.users}} Investors</span></h5>
                                        <span>Your sale - {{bonus.wsc*10 | number:4}} WSC</span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-3 align-self-center text-xl-right">
                                    <div class="pdb-1x"><span class="schedule-bonus">20% Bonus</span></div>
                                </div>
                            </div>
                        </div>
                        
                        </div>
                </div>
                <div class="content-area card">
                    <div class="card-innr">
                        <div class="card-head">
                            <h5 class="card-title card-title-md">Invite your friends and family and receive free tokens</h5></div>
                        <div class="card-text">
                            <p>Each member have a unique WSC referral link to share with friends and family and receive a <strong>bonus - 20% of the value of their contribution</strong>. If any one sign-up with this link, will be added to your referral program. The referral link may be used during a token sales running.</p>
                        </div>
                        <div class="referral-form">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="mb-0 font-bold">Referral URL</h5><a ui-sref="app.transaction" class="link link-primary link-ucap">See Your referral</a></div>
                            <div class="copy-wrap mgb-1-5x mgt-1-5x"><span class="copy-feedback"></span><em class="fas fa-link"></em>
                                <input type="text" class="copy-address" id="addressToCopy" value="https://wallet.wisecoin.app/consierge/{{user_data.nome}}" disabled><button class="copy-trigger copy-clipboard" ng-click="copyAddress()"><em class="ti ti-files"></em></button>
                               
                            </div>
                            <!-- .copy-wrap -->
                        </div>
                        <ul class="share-links">
                            <li>Share with : </li>
                            <li><a href="https://www.facebook.com/wisecoinbrasil" target="_blank"><em class="fab fa-facebook-f"></em></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col -->
            <div class="aside sidebar-right col-lg-4">
                <div class="token-statistics card card-token height-auto">
                    <div class="card-innr">
                        <div class="token-balance">
                            <div class="token-balance-text">
                                <h6 class="card-sub-title">Tokens Balance</h6><span class="lead">{{user_data.wisecoin}} <span>WSC</span></span>
                            </div>
                        </div>
                        <div class="token-balance token-balance-s2">
                            <h6 class="card-sub-title">Your Bonus</h6>
                            <ul class="token-balance-list">
                                <li class="token-balance-sub"><span class="lead">{{bonus.wsc | number:4}}</span><span class="sub">WSC</span></li>
                                <li class="token-balance-sub"><span class="lead">{{bonus.btc | number:6}}</span><span class="sub">BTC</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="token-sales card">
                    <div class="card-innr">
                        <div class="card-head">
                            <h5 class="card-title card-title-sm">Pre-Sale Token Sales</h5></div>
                        <div class="token-rate-wrap row">
                            <div class="token-rate col-md-6 col-lg-12"><span class="card-sub-title">WSC Token Price</span>
                                <h4 class="font-mid text-dark">1 BTC = <span>{{config.cota/config.wise_cota | number:4}} WSC</span></h4></div>
                            <div class="token-rate col-md-6 col-lg-12"><span class="card-sub-title">Exchange Rate</span><span>1 WSC = {{config.wise_cota | number:4}} USD</span></div>
                        </div>
                        <div class="token-bonus-current">
                            <div class="fake-class"><span class="card-sub-title">Current Bonus</span>
                                <div class="h3 mb-0">20%</div>
                            </div>
                            <div class="token-bonus-date">End at
                                <br> 07 May, 2019</div>
                        </div>
                    </div>
                    <div class="sap"></div>
                    <div class="card-innr">
                        <div class="card-head">
                            <h5 class="card-title card-title-sm">Token Sales Progress</h5></div>
                        <ul class="progress-info">
                        <li><span>Raised</span> {{config.raised | number : 0}} WSC</li>
                        <li class="text-right"><span>TOTAL</span> 100,000,000 WSC</li>
                    </ul>
                    <div class="progress-bar">
                        <div class="progress-hcap" data-percent="80" style="width: 80%;">
                            <div>Hard cap <span>80,000,000</span></div>
                        </div>
                        <div class="progress-scap" data-percent="24" style="width: 24%;">
                            <div>Soft cap <span>24,000,000</span></div>
                        </div>
                        <div class="progress-percent" data-percent="{{config.raised/100000000*100}}" style="width: {{config.raised/100000000*100}}%;"></div>
                    </div>
                    <span class="card-sub-title mgb-0-5x">Sales END IN</span>
                    <div class="countdown-clock" data-date="2019/05/07"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
