<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">file_download</i>
                    </div>
                    <h4 class="card-title">Bitcoin deposit</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">

                        <button class="btn btn-rose btn-round" data-toggle="modal" data-target="#modalBTC">Generate address for deposit</button>
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    <table id="datatable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Address</th>
                                <th>Value</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalBTC">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title">Bitcoin deposit</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" ng-if="!user_data.address">
                    <span><b> Attention!</b> Make only one transfer for each address!</span>
                </div>
                <button ng-if="!user_data.address" class="btn btn-rose btn-round btn-block" ng-click="getAddress(); disableThis=true" ng-bind-html="cnf.createAddress" ng-disabled="disableThis"></button>
                <div class="text-center" ng-if="user_data.address">
                    <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{user_data.address}}" height="250px"><br><br>
                    <input autocorrect="off" disabled="" class="form-control text-center" id="addressToCopy" value="{{user_data.address}}"><br>
                    <button class="btn btn-warning" ng-click="copyAddress()">Copy address</button></div>
                    <ul class="timeline timeline-simple" ng-show="addressData">
                        <li class="timeline-inverted">
                            <div class="timeline-badge success">
                                <i class="material-icons">check</i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="label label-success">Received</span>
                                </div>
                                <div class="timeline-body">
                                    <p>{{addressData.received}}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge danger">
                                <i class="material-icons">close</i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="label label-danger">Unconfirmed</span>
                                </div>
                                <div class="timeline-body">
                                    <p>{{addressData.unconfirmed_received}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>