<div class="topbar-wrap">
    <div class="topbar is-sticky">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="topbar-nav d-lg-none">
                    <li class="topbar-nav-item relative">
                        <a class="toggle-nav" href="#">
                            <div class="toggle-icon"><span class="toggle-line"></span><span class="toggle-line"></span><span class="toggle-line"></span><span class="toggle-line"></span></div>
                        </a>
                    </li>
                </ul>
                <a class="topbar-logo"><img src="images/logo.png"></a>
                <ul class="topbar-nav">
                    <li class="topbar-nav-item relative"><span class="user-welcome d-none d-lg-inline-block">{{user_data.email}}</span><a class="toggle-tigger user-thumb" data-target="#"><em style="color: white" class="ti ti-user"></em></a>
                        <div class="toggle-class dropdown-content dropdown-content-right dropdown-arrow-right user-dropdown">
                            <div class="user-status">
                                <h6 class="user-status-title">Token balance</h6>
                                <div class="user-status-balance">{{user_data.wisecoin | number:6}} <small>WSC</small></div>
                            </div>
                           <!--  <ul class="user-links">
                                <li><a href="profile.html"><i class="ti ti-id-badge"></i>My Profile</a></li>
                                <li><a href="#"><i class="ti ti-infinite"></i>Referral</a></li>
                                <li><a href="#"><i class="ti ti-eye"></i>Activity</a></li>
                            </ul> -->
                            <ul class="user-links bg-light">
                                <li><a style="cursor: pointer" ng-click="logout()"><i class="ti ti-power-off"></i>Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="container">
            <div class="navbar-innr">
                <ul class="navbar-menu">
                    <li><a ui-sref="app.home"><em class="ikon ikon-dashboard"></em> Dashboard</a></li>
                    <li><a ui-sref="app.buy"><em class="ikon ikon-coins"></em> Buy Tokens</a></li>
                    <li><a ui-sref="app.transfer"><em class="ikon ikon-exchange"></em> Transfer</a></li>
                    <li><a ui-sref="app.transaction"><em class="ikon ikon-transactions"></em> Transactions</a></li>
                    <li ng-show="user_data.corretor=='1'"><a ui-sref="app.consierge"><em class="ikon ikon-distribution"></em> Consierge</a></li>
                    <li><a ui-sref="app.profile"><em class="ikon ikon-user"></em> Profile</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
