<!-- .topbar-wrap -->
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="token-statistics card card-token height-auto">
                    <div class="card-innr">
                        <div class="token-balance token-balance-with-icon">
                            <div class="token-balance-icon"><img src="images/logo-light-sm.png" alt="logo"></div>
                            <div class="token-balance-text">
                                <h6 class="card-sub-title">Wisecoin Balance</h6><span class="lead">{{user_data.wisecoin | number:6}} <span>WSC</span></span>
                            </div>
                        </div>
                        <div class="token-balance token-balance-s2">
                            <h6 class="card-sub-title">Your Contribution</h6>
                            <ul class="token-balance-list">
                                <li class="token-balance-sub"><span class="lead">{{cont | currency}}</span><span class="sub">USD</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .col -->
            <div class="col-lg-8">
                <div class="token-information card card-full-height">
                    <div class="row no-gutters height-100">
                        <div class="col-md-6 text-center">
                            <div class="token-info"><img class="token-info-icon" src="images/logo-sm.png" alt="logo-sm">
                                <div class="gaps-2x"></div>
                                <h3 class="token-info-head text-light">WSC START DAY = {{config.start | number:4}} USD</h3>
                                <h1 class="token-info-head text-light">WSC NOW = {{config.wise_cota | number:4}} USD</h1>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="token-info bdr-tl">
                                <div>
                                    <ul class="token-info-list">
                                        <li><span>Token Name:</span>Wisecoin</li>
                                        <li><span>Ticket Symbol:</span>WSC</li>
                                    </ul> 
                                    <!-- <a href="#" class="btn btn-primary"><em class="fas fa-download mr-3"></em>Download Whitepaper</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .card -->
            </div>
            <!-- .col -->
            <div class="col-xl-8 col-lg-7">
                <div class="token-transaction card card-full-height">
                    <div class="card-innr">
                        <div class="card-head has-aside">
                            <h4 class="card-title">Transaction</h4>
                            <div class="card-opt"><a ui-sref="app.transaction" class="link ucap">View ALL <em class="fas fa-angle-right ml-2"></em></a></div>
                        </div>
                        <table class="table tnx-table">
                            <thead>
                                <tr>
                                    <th>WSC Tokens</th>
                                    <th>Amount</th>
                                    <th>Quote</th>
                                    <th class="d-none d-sm-table-cell tnx-date">Date</th>
                                    <th class="tnx-type">
                                        <div class="tnx-type-text"></div>
                                    </th>
                                </tr>
                                <!-- tr -->
                            </thead>
                            <!-- thead -->
                            <tbody>
                                <tr ng-repeat='i in user_data.transactions'>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="data-state data-state-approved"></div><span class="lead">{{i.wsc | number:6}}</span>
                                        </div>
                                    </td>
                                    <td><span><span class="lead">{{i.wsc*i.cota | currency}}</span></span></td>
                                    <td><span><span class="lead">${{i.cota | number:4}}</span></span></td>
                                    <td class="d-none d-sm-table-cell tnx-date"><span class="sub sub-s2">{{i.data}}</span></td>
                                    <td ng-if="i.descricao=='buy'" class="tnx-type"><span class="tnx-type-md badge badge-outline badge-success badge-md">Purchase</span></td>
                                    <td ng-if="i.descricao=='consierge'" class="tnx-type"><span class="tnx-type-md badge badge-outline badge-warning badge-md">Bonus</span></td>
                                </tr>
                            </tbody>
                            <!-- tbody -->
                        </table>
                        <!-- .table -->
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="token-calculator card card-full-height">
                    <div class="card-innr">
                        <div class="card-head">
                            <h4 class="card-title">Token Calculation</h4>
                            <p class="card-title-text">Enter amount to calculate token.</p>
                        </div>
                        <div class="token-calc">
                            <div class="token-pay-amount">
                                <input id="token-base-amount" class="input-bordered input-with-hint" type="text" value="1" ng-model='toCalc'>
                                <div class="token-pay-currency"><a href="#" class="link ucap link-light toggle-tigger toggle-caret">BTC</a>
                                </div>
                            </div>
                            <div class="token-received">
                                <div class="token-eq-sign">=</div>
                                <div class="token-received-amount">
                                    <h5 class="token-amount">{{toCalc*config.cota/config.wise_cota | number:6}}</h5>
                                    <div class="token-symbol">WSC</div>
                                </div>
                            </div>
                        </div>
                        <div class="token-calc-note note note-plane"><em class="fas fa-info-circle text-light"></em><span class="note-text text-light">Amount calculated based current tokens price</span></div>
                        <div class="token-buy"><a ui-sref="app.buy" class="btn btn-primary">Buy Tokens</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .row -->
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="token-sale-graph card card-full-height">
                    <div class="card-innr">
                        <div class="card-head has-aside">
                            <h4 class="card-title">Tokens Price Graph</h4>

                        </div>
                        <div class="chart-tokensale">
                            <canvas id="canvas"></canvas>
                        </div>
                    </div>
                </div>
                <!-- .card -->
            </div>
            <!-- .col -->
            <div class="col-xl-4 col-lg-5">
                <div class="token-sales card card-full-height">
                    <div class="card-innr">
                        <div class="card-head">
                            <h4 class="card-title">Token Sales Progress</h4>
                        </div>
                        <ul class="progress-info">
                            <li><span>Raised</span> {{config.raised | number : 0}} WSC</li>
                            <li class="text-right"><span>TOTAL</span> 100,000,000 WSC</li>
                        </ul>
                        <div class="progress-bar">
                            <div class="progress-hcap" data-percent="80" style="width: 80%;">
                                <div>Hard cap <span>80,000,000</span></div>
                            </div>
                            <div class="progress-scap" data-percent="24" style="width: 24%;">
                                <div>Soft cap <span>24,000,000</span></div>
                            </div>
                            <div class="progress-percent" data-percent="{{config.raised/100000000*100}}" style="width: {{config.raised/100000000*100}}%;"></div>
                        </div>
                        <span class="card-sub-title mgb-0-5x">Sales END IN</span>
                        <div class="countdown-clock" data-date="2019/05/07"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

