<style type="text/css">
    .small, small {
    color: red;
}
</style>
<div class="page-ath-wrap">
    <div class="page-ath-content">
        <div class="page-ath-header">
            <img src="images/logo.png" alt="logo"></a>
        </div>
        <div class="page-ath-form">
            <h2 class="page-ath-heading">Sign in <small>with your Wise Account</small></h2>
            <form id="FormLogin" name="FormLogin">
                <div class="form-group">
                    <input type="text" name="nome" class="form-control" ng-model="data.nome" required="true"  placeholder="Username"/>
                </div>
                <div class="form-group">
                    <input type="password" name="senha" class="form-control" ng-model="data.senha" required="true" placeholder="Password" />
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    
                    <div><a href="forgot.html">Forgot password?</a>
                        <div class="gaps-2x"></div>
                    </div>
                </div>
                <button class="btn btn-primary btn-block">Sign In</button>
            </form>
            <br><div class="form-note">Don’t have an account? <a ui-sref="cadastro"> <strong>Create now</strong></a></div>
        </div>
        <div class="page-ath-footer">
            <ul class="footer-links">
                <li><a href="regular-page.html">Privacy Policy</a></li>
                <li><a href="regular-page.html">Terms</a></li>
                <li>&copy; 2018 Wisecoin.</li>
            </ul>
        </div>
    </div>
    <div class="page-ath-gfx">
        <div class="w-100 d-flex justify-content-center">
            <div class="col-md-8 col-xl-5"><img src="images/ath-gfx.png" alt="image"></div>
        </div>
    </div>
</div>