<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "app.wisecoin.com"
    versionCode = "10"
    version     = "0.1" >

<!-- versionCode is optional and Android only -->

  <name>Wisecoin</name>

  <description>
      Wisecoin
  </description>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
      Wisecoin
  </author>
    <content src="index.html" />
    <splash src="images/icon.png" />
    <platform name="android">
        <icon src="images/icon.png"/>
        <allow-intent href="market:*" />
    </platform>

</widget>