<?xml version='1.0' encoding='utf-8'?>
<widget id="bitmi.com.br" version="0.0.8" versionCode = "800" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Wisecoin</name>
    <description>
        Wisecoin
    </description>
    <author email="contato@wisecoin.com.br" href="https://wisecoin.com.br">
        Wisecoin
    </author>
    <content src="index.html" />
    <splash src="images/icon.png" />
    <platform name="android">
        <icon src="images/icon.png"/>
        <allow-intent href="market:*" />
    </platform>
</widget>